*{
    margin: 0;
    padding: 0;
    font-family:  "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;

}

header{
    height: 50px;
}

nav{
    margin: 0 30px 0 50px;
    height: 100%;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.left-side img{
    width: 120px;   
    margin-right: 30px;
    margin-bottom: -5px;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    margin-left: 10px;
}

nav ul li a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    color: #000;
    font-size: 13px;
}

nav a:hover{
    text-decoration: underline;
}

.right-side i{
    margin-left: 5px;
} 

.left-side, .right-side{
    display: flex;
}
/* ------------><----------------*/

.section1{
    height: 470px;
}

.section1 h2{
    font-size: 38px;
    font-weight: 500;
}

.section1 .banner img{
    margin: 10px;
    width: 100wh;
    max-width: 1420px;
    position: absolute;
}

.section1 .text-banner{
    width: 500px;
    position: relative;
    align-items: center;
    color: #fff;
    /* top: 100px; */
    left: 100px;
}

.text-banner p{
    font-size: 17px;
    line-height: 25px;
}

.text-banner button{
    background-color: #0067b8;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* -------------><-------------- */

.icon{
    width: 150px;
    height: 20px;
    justify-content: center;
    margin-right: 30px;
    align-items: center;
    font-size: 20px;
}

.icon ul{
    display: flex;
    margin-left: 580px;
    list-style: none;

    background-color: aqua;
} 

.icon i{
    margin-left: 35px;
    font-size: 18px;
}

.radio{
    display: flex;
}

.radio i{
    font-size: 11px;
    margin-top: -50px;
}
/*---------------><------------- */

.icon1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    gap : 50px;
    
}

.icon1 a{
    font-weight: 600;
    color: #0067b8;
    text-decoration: underline;
    margin-top: 20px;
}

.icon1 i{
    font-size: 50px;
    margin-left: 40%;
    margin-bottom: 25px;
    
}

.icon1 img{
    margin-top: -25px;
    margin-left: 40%;
}
 
.o1, .o2{
    margin-top: -10px;
}
/* --------------><------------- */
.bisnis{
    margin:30px 0 30px 68px;
    font-weight: 500;
    font-size: 45px;
}

.banner{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
} 

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
    gap: 30px;
  
}

.f1, .f2, .f3, .f4{
    width:300px;
}


.card-container img {
    width: 300px;
    color: #0067b8;
}

.card-container a{
    text-decoration: none;
    font-weight: 500;
}

.card-container i{
    font-size: 14px;
    cursor: pointer;
}

.card-container img, h2, p{
    margin-bottom: 20px;
}

/* --------------><------------- */

.sec{
    height: 470px;
    margin-bottom: 100px;
}

.sec .ban img{
    margin-left: 80px;
    width: 1270px;
    align-items: center;
    position: absolute;
}

.sec .tex{
    width: 400px;
    position: relative;
    align-items: center;
    color: black;
    top: 130px;
    left: 200px;
    /* font-size: 18px; */
}

.tex h2{
    font-size: 40px;
    font-weight: 500;
}

.tex p{
    font-size: 16px;
    line-height: 18px;
}

.tex button{
    background-color: #0067b8;
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;   
    font-weight: 600;
    font-size: 15px;
}
/* --------------><------------- */

.btn{
    padding: 30px;
    margin-left: 1200px;
}

.btn button{
    padding :5px  10px;
}
/* ---------------><------------- */
footer{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    background-color: lightgray;
    padding: 60px 50px;
    height: 400px;
}

footer ul{
    list-style: none;
}

footer ul a{
    text-decoration: none;
    font-size: 12px;
    color: #616161;
}

.col{
    margin: 10px 35px 2 5px;
    height: 100%;
    line-height: 30px;
}

.col ul li a{
   line-height: 1em;
}

.com{
    font-size: 11px;
}

.left-link{
    height: 30px;
    display: flex;
    background-color: lightgray;
}

.left-link i{
    margin: 5px;
}

.left-link img{
    margin-left: 40px;
}

.left-link .png{
    margin-top: -5px;
    margin-right: 10px;
}

.left-link a{
    text-decoration: none   ;
}

.right-link{
    margin-top: -30px;
    display: block;
}

.right-link ul li{
    display: flex;
    float: right;
    list-style: none;
    margin-left: 5px;
}

.right-link ul li a{
    text-decoration: none;
    margin-right: 20px; 
}
        /* End right and left side */


a:hover{
    text-decoration: underline;
}

.bisnis{
    font-weight: 500;
}
